* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #262626;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.nav-content {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 20px;
}

.nav-menu,
.social-media-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: dodgerblue;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.navbar ul li {
    position: relative;
}

.navbar ul li ul {
    position: absolute;
    /* left: 0; */
    background-color: #262626;
    display: none;
    top: 20px;
    left: 0;
    width: 200px;    
}

.navbar ul li ul li {
    width: 100%;
    /* border-top: 1px solid rgba(0,0,0,.1); */
    padding: 20px 15px 15px 15px;

}

.navbar ul li ul li ul {
    left: 200px;
    top: 0;
    /* top: 70px; */
}

.navbar ul li:focus-within > ul,
.navbar ul li:hover > ul {
    display: initial;
}

.search {
    position: relative;
    width: 60px; 
    height: 60px;
    background: #fff;
    border-radius: 60px;
    transition: 0.5s;
    /* box-shadow: 0 0 0 5px green; */
    overflow: hidden;
}

.search.active {
    width: 360px;
}

.search .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search.active .icon {
    display: none;
}

.search .input {
    position: relative;
    width: 300px;
    height: 60px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search .input input {
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px 0;
}

.clear {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    right: 15px;
    /* background: #ff0; */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media(max-width: 768px) {
    .social-media-links {
        display: none;
    }
    
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: 0;
        /* top: 70px; */
        top: -100%;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        padding: 15px 10px 10px 10px;
    }

    .nav-menu.active {
        top: 145px;
        left: 0;
    }

    .navbar ul li {
        width: 100%;
    }

    .navbar ul li ul {
        position: relative;
        width: 100%;
        padding: 10px 10px 10px 10px;
    }

    .navbar ul li ul li {
        background: #262626;
        padding: 10px 10px 10px 10px;
    }

    .navbar ul li ul li ul {
        width: 100%;
        left: 0;
        /* padding: 10px 10px 0px 10px; */
        
    }
}